.reservation-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(224, 222, 212);
  padding: 50px 0;
}

.reservation-title-h2 {
  color: rgb(0, 0, 0);
  margin-bottom: 50px;
  font-size: 45px;

  @include mobile {
    font-size: 40px;
  }
}

.reservation-title-h3 {
  font-size: 35px;

  @include mobile {
    font-size: 30px;
  }
}

.reservation-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: auto;
  flex-wrap: wrap;

  .reservation-btn {
    background: color(accent);
    font-family: Oswald, sans-serif;
    color: rgb(255, 255, 255);
    width: 150px;
    height: 44px;
    padding: 10px 0px;
    border: none;
    margin: 5px;
    font-size: 17px;
    cursor: pointer;

    &:hover {
      background: color(accent-light);
    }
  }
}

.reservation-box {
  display: flex;
  min-width: 150px;
  align-items: center;
  font-family: Oswald, sans-serif;
  color: rgb(83, 81, 81);
  padding: 10px 0px;
  background: rgb(255, 255, 255);
  margin: 5px;

  .reservation-info {
    margin-left: 10px;
  }

  .reservation-icon {
    padding: 0px 20px;
    border-right: 1px solid rgb(83, 81, 81);
  }

  @include mobile {
    margin-bottom: 20px;
  }
}
